.table {
    margin-top : 20px ;
    margin-bottom: 20px;
    overflow : scroll ;
    height: 400px;
    color : #6a5d5d;
    
}

.table tr {
    display: flex;
    justify-content: space-between;
}
.table tr:nth-of-type(odd) {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.table td {
    padding: 0.5rem;
}
